<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->


    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/dashboard.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>

  </head>

  <body>
         <!-- top -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
		<!-- top结束 -->
		
		<!-- mid-begin -->
    <div class="container-fluid">
      <div class="row">

          <!-- 左侧导航栏 -->
          <div th:replace="leftbar.html"></div>
          <!-- 左侧导航栏结束 -->
        </div>
				
				<!-- 页面主体 -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>添加用户</h1>
					<form>
					  <div class="form-group">
					    <label for="name">Username</label>
					    <input type="text" class="form-control" id="name" name="name" placeholder="Username">
					  </div>
					  <div class="form-group">
					    <label for="age">Age</label>
					    <input type="text" class="form-control" id="age" placeholder="Age">
					  </div>
						<div class="form-group">
						  <label for="email">Email address</label>
						  <input type="email" class="form-control" id="email" placeholder="Email address">
						</div>
						<div class="form-group">
						  <label for="password">Password</label>
						  <input type="password" class="form-control" id="password" placeholder="Password">
						</div>
						<input type="hidden" value="general" name="userType" id="userType">
                        <div class="form-group">
                            <label for="gender">gender</label>
                            <select name="gender" id="gender">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>

					</form>
            <button type="submit" class="btn btn-default" onclick="addUser()">Submit</button>
					<!-- 页面主体结束 -->
        </div>
				
				<!-- mid-end -->
      </div>
    </div>
</body>
<script>
    function addUser() {
        layer.confirm("确定添加？", {btn:["确定","取消"]},
            function(){
                layer.closeAll();
                // window.location.href="/user/doupdate";
                $.ajax({
                    url:"/user/doadd",
                    type:"POST",
                    data:{
                        name:$("#name").val(),
                        age:$("#age").val(),
                        email:$("#email").val(),
                        password:$("#password").val(),
                        userType:$("#userType").val(),
                        gender:$("#gender").val()
                    },
                    success:function (data) {
                        if (data.code==0){
                            $("#name").val("")
                            $("#age").val("")
                            $("#email").val("")
                            $("#password").val("")
                            layer.msg("添加成功")
                            // window.location.href="/user/all"
                        } else {
                            layer.msg(data.msg)
                        }
                    }
                });

            },
            function(){
                layer.closeAll();
            });
    }

</script>
</html>